.contactList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  padding: 0px;
  margin: 0;
}

@media (max-width: 769px) {
  .contactList {
    justify-content: center;
  }
}
